header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}

.hcontainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.login-signup {
    display: flex;
    align-items: center;
}

.login-signup a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff9900;
    transition: background-color 0.3s ease-in-out;
}

.login-signup a:hover {
    background-color: #ff8800;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    background-color: #1e0fa5;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.login-btn {
    background-color: white; /* Bootstrap primary color */
    color: black;
    border: none;
    padding: 8px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    
    transition: background-color 0.3s;
}



/* Modal styles */
#loginModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
