body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfe9f5;
    background: linear-gradient(to right, #ccc, #dfe9f5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
}

.container {
    max-width: 400px;
    width: 100%; /* Responsive width */
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white; /* White background for the form */
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1); /* Softer shadow */
    transition: transform 0.3s ease; /* Smooth transform on hover */
}

.container:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

h3 {
    color: #693e63; /* Darker color for the heading */
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
select {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc; /* Light border */
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s; /* Smooth border color transition */
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: dodgerblue; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

input[type="submit"] {
    padding: 12px;
    width: 100%;
    border: none; /* Remove default border */
    font-size: 18px;
    cursor: pointer;
    background-color: #693e63; /* Dark background */
    color: white; /* White text */
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

input[type="submit"]:hover {
    background-color: dodgerblue; /* Change background on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}

.password-container {
    position: relative;
}

.checkbox-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.password-container input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

.password-container input[type="checkbox"]:checked + .checkmark {
    background-color: #2196F3; /* Blue background when checked */
}

.password-container input[type="checkbox"]:checked + .checkmark::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

form p {
    color: #000;
    font-size: medium;
    margin-top: 15px;
}

form p a {
    text-decoration: none;
    color: #693e63;
}

form p a:hover {
    color: dodgerblue;
    transition: ease-in 0.3s;
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    input[type="submit"] {
        font-size: 16px;
    }
}